.ubuntu-regular {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px #4c4a4a;
    z-index: 1;
    top: 2rem;
    font-weight: bolder;
    color: white;
}

.login-container {
    width: 25%;
    height: 60%;
    border-radius: 1rem;
    background-color: white !important;
    backdrop-filter: blur(60px);
    padding: 1rem 2rem;
    
    box-shadow: 0px 0px 35px 1px rgb(60, 93, 157);
    transition: all 0.3s linear;
}

.login-container:hover {
    transform: scale(1.025);
}

.login-title {
    text-align: center;
    text-shadow: 2px 2px #dcdcdc;
    font-size: 3rem;
    font-weight: bold;
    margin: 0.5rem 0;
    margin-bottom: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input {
    margin: 1rem 0;
    height: 3rem;
    border: none;
    border: 2px solid transparent;
    border-bottom: solid 2px black;
    transition: all 0.3s linear;
    padding: 0.25rem;
    font-size: 1rem;
}

.user-input {
    background: none;
    background: url('/user.png');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 0.5rem center;
}

.pwd-input {
    background: none;
    background: url('/pwd.png');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 0.5rem center;
}

input:focus {
    outline: none;
    border-radius: 0.5rem;
    border: 2px solid black;
}

input::placeholder {
    color: black;
    font-size: 1rem;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    height: 2rem;
    font-size: 1rem;
}

.login-btn {
    margin: 2rem 0;
    margin-top: 3rem;
    height: 3rem;
    background-color: black;
    color:white;
    font-weight: bolder;
    font-size: 1.25rem;
    border:none;
    border-radius: 0.5rem;
    transition: all 0.3s linear;
}

.login-btn:hover {
    background-color: rgb(44, 44, 44);
    border: solid 2px rgb(0, 0, 0);
    transition: all 0.3ms;
}

.register-btn {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1rem;
}

.error-message {
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
  
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: rgb(255, 0, 0);
  font-weight: bold;
  
  padding: 1rem 2rem;
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, 20px); }
  to { opacity: 1; transform: translate(-50%, 0); }
}